/*文字相关的css属性*/
a{
    font-size: 12px;
    color: red;
    line-height: 24px;
    /*行高：单行文字、行内文字、input 垂直居中*/
    text-align: center;
    /*文字对齐方式 */
    letter-spacing: normal;
    /*字符之间的距离*/
    word-spacing: normal;
    /*单词之间的距离*/
    vertical-align: baseline;
    /*垂直对齐方式；基线对齐
    Middle 居中对齐
    top  父级元素顶端对齐
    text-top  文字的顶端对齐
    可以设置一个具体的值 也可以是负值
    行内元素  行内块级元素可以设置vertical_algin
    块级元素不能设置vertical-algin
    */
    font: 12px/26px "微软雅黑";
}
/*盒子模型*/
*{
    width: 10px;
    /*内容的宽度*/
    height: 20px;
    /*内容的高度*/
    margin: 10px 20px 30px 40px;
    /*外边距*/
    padding: 10px 20px 30px 40px;
    /*内边距*/
    /*没有border、background，margin和padding的效果是一样*/
    /*padding 不可以设置负值*/
    border: 1px solid forestgreen;
    /*边框：宽度 样式  颜色
    solid  实线
    dotted 点状线
    dashed  虚线
    double  双实线
    */
    border-radius: 1px;

/*边框的圆角*/
*{
    float: left;
    /*
    none  设置为不浮动
    inherit  继承父级的浮动元素
    */
    clear: both;
    /*
    清除浮动：清除浮动清除元素对其他原酸的影响
    */
}

.clearfix：after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

/*定位相关*/
*{
   position: relative;
    /*相对定位：子自己原来的位置*/
    position: absolute;
    /*绝对定位：没有设置参照物：body  可以讲父级元素设置为参照物，给父级元素设置：position：relative*/
    position: fixed;
    /*固定定位：可视窗口*/
    /*  inrerit  继承父级*/
    /*top  盒子的上边距离参照物上边的距离*/
    z-index: 1;
    /*设置层级关系  必须有position*/
}
/*背景*/

*{
    background-color: red;
    background-image: url("背景图片的路径");
    background-repeat: no-repeat;
    /*
    repeat 默认值  重复
    repeat-x   水平方向重复
    repeat-y   垂直方向重复
    */
    background-position: top center;
    /*背景图片的位置   top  bottom  left  right  center*/
    /*
    具体的值
    1、水平  +右移  -左移
    2、竖直方向   + 下  -上
    */
    background-size: 100% 100%;
    /*
    背景图片的大小
    可以为百分比：相对盒子的宽度和高度的百分比
    */
    background-attachment: fixed;
    /*背景图片固定：参照物可视窗口*/
}
/*display*/
*{
    display: none;
    /*隐藏*/
}

/*隐藏*/
*{
    visibility: hidden;
    /* 隐藏  占位置*/
    visibility: visible;
    /*显示*/
}
/*透明度*/
*{
    opacity: .5;
    /*0~1   0完全透明  1不透明   盒子所有的内容都有透明度*/
    filter: Alpha(opacity=50);
    /*0~100*/
}
/*溢出隐藏*/
*{
    overflow: hidden;
}

/*形变*/
*{
    transform: rotate(180deg);
    /*旋转180度  +顺时针党项  —逆时针方向*/
    transform-origin: 50% 40%;
    /*旋转的中心位置  百分比：盒子的宽度和高度*/
}
/*过渡*/
*{
    transition: height .3s linear 0s;
    /*
    1、css属性  alla所有可以设置过渡效果的css属性
    2、过渡的时间
    3、速度
    4、等待的时间
    */
}
/*伪元素*/
div:before{
    /*在div里最开始的位置加内容*/
    content: "";
}
div:after{
    /*在div里最末尾的位置*/
    content: ;
}
/*div和div:after是父子级关系*/
/*伪类选择器*/
div:hover{
    /*鼠标经过时的效果:鼠标经过谁就给谁加：hover*/
}
div:hover span{
    /*父级元素：hover   空格子级元素*/
}
input:focus{
    /*获取光标时的样式*/
}
a:link{
    /*默认的样式*/
}
a:visited{
    /*访问后的样式*/
}
a:active{
    /*点击时的样式*/
}