*{
    margin: 0;
    padding: 0;
}
.box{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    background: red;
    font-size: 40px;
}