*{
    margin: 0;
    padding: 0;
    font: 12px "microsoft yahei"
;
}
ul{
    list-style: none;
    width: 84px;
}
li{
    height: 50px;
    background: #38404c;
    border-bottom: 1px dotted #202020;
    color: #ffffff;
    text-align: center;
    padding-top: 9px;
}
li i{
    width: 20px;
    height: 20px;
    display: block;
    background: url("icon.png")no-repeat;
    margin: 0 auto 3px;
}
.list2 i{
    background-position: 0 -94px;
}
.list3 i{
    background-position: 0 -70px;
}
.list4 i{
    background-position: 0 -21px;
}